<h1>Ember Reader</h1>

<div class="left-column">
  <div class="feeds-view">
    <header>
      <h3>Feeds</h3>
    </header>
    <ul>
      <li>
        <div class="name">CodeBrief</div>
        <div class="url">http://codebrief.com/atom.xml</div>
      </li>
      <li>
        <div class="name">GroupTalent Blog</div>
        <div class="url">https://grouptalent.com/blog/feed.xml</div>
      </li>
    </ul>
  </div>
</div>