<div class="left-column">
  <div class="feeds-view">
    <header>
      <h3>Feeds ({{length}})</h3>
    </header>
    <ul>
      {{#each feed in this}}
        <li>
          <div class="name">{{feed.name}}</div>
          <div class="url">{{feed.url}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>