<div class="feed-item-view">
  <header>
    <h1>{{title}}</h1>
    <div class="meta">
      {{#if author}}
        <span class="author">{{author}}</span> -
      {{/if}}
      <span class="date">{{fromNow publishedDate}}</span>
    </div>

  {{{body}}}
</div>