
<div class="left-column">
  <div class="feeds-view">
    <header>
      <h3>Feeds ({{length}})</h3>
      {{#linkTo feeds.new class="new"}}<span class="fui-plus-24"></span>{{/linkTo}}
    </header>
    <ul>
    {{#each feed in this}}
      <li>
        {{#linkTo feed.index feed}}
          <div class="name">{{feed.name}}</div>
          <div class="url">{{feed.url}}</div>
        {{/linkTo}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>

<div class="right-column">
  {{outlet}}
</div>