<div class="feed-index-view">
  <header>
    <h3>{{name}}</h3>
    {{#linkTo feed.edit class="edit"}}<span class="fui-new-24"></span>{{/linkTo}}
  </header>
  <ul>
    {{#each item in feedItems}}
      <li>
        {{#linkTo feed_item item}}
          <h4>{{item.title}}</h4>
          <p class="snippet">{{item.bodySnippet}}</p>
          <div class="date">{{fromNow item.publishedDate}}</div>
        {{/linkTo}}
      </li>
    {{/each}}
  </ul>

</div>